$lightblue: #60beca;
$mainYellow: #fbb12f;
$errorMessage: #f83b3b;
$white: #fff;
$lightGray: #0c0c0c0a;
$darkOverlay: rgba(0, 0, 0, .5);
$inputShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$gray: #808080;
